<div class="main darkMode">

  <mat-toolbar color="primary">

    <span>
      <mat-icon> qr_code_scanner </mat-icon>
    </span>

    <span class="example-spacer"></span>

    <mat-icon *ngIf="darkMode" aria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode"></mat-icon>
    <mat-icon *ngIf="!darkMode" aria-hidden="false" aria-label="Example home icon" fontIcon="light_mode"></mat-icon>
    &nbsp;
  </mat-toolbar>

  <form  #userForm="ngForm"  (ngSubmit)="sendForm()"  class="example-form">
    <mat-form-field class="example-full-width darkMode" appearance="fill">
      <mat-label>Type your text here</mat-label>
      <input
      name="usertext"
      #userText="ngModel"
      required
      (keyup)="parsText();"
      [(ngModel)]="qrForm.qrText"
      matInput placeholder="http://www.site.com" >
    </mat-form-field>
    <p *ngIf="userText.errors && userText.touched && userText.dirty " >
      <small> your test in not valid  </small>
    </p>

    <button class="darkMode" type="submit" color="accent" [disabled]="userForm.invalid" mat-raised-button>Generate</button>

    </form>

    <br>

    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="accent" selected
      [disabled]="!phoneChecker">
      <mat-icon>call</mat-icon> &nbsp;
      Phone
    </mat-chip>
      <mat-chip  color="accent" selected
       [disabled]="!linkChecker">
       <mat-icon>link</mat-icon> &nbsp;
       Link</mat-chip>
    </mat-chip-list>


    <mat-card class="example-card darkMode">

      <mat-card-subtitle class="darkMode">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="qr_code"></mat-icon>
        &nbsp;
        QR Code</mat-card-subtitle>
      <mat-card-title>scan the result</mat-card-title>
      <mat-card-content>

      <qrcode
      [qrdata]="TextToConvert"
      [width]="256"
      (qrCodeURL)="onChangeURL($event)"
      [errorCorrectionLevel]="'M'">
      </qrcode>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>SHARE</button>
        <a
        [href]="qrCodeDownloadLink"
         download="qrcode"
         >Download</a>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar
        mode="indeterminate"
         [bufferValue]="0"
         [value] = "0"
         >
        </mat-progress-bar>
      </mat-card-footer>
    </mat-card>


</div>



