<mat-drawer-container
class="example-container light-theme"
[ngClass]="{'dark-theme' : darkMode , 'lime-theme' : limeTheme}"
autosize>

<!--Settings-->
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <h4>Settings</h4>

    <hr>
    <h5> Theming</h5>

    <mat-form-field appearance="fill">
      <mat-label>Light / Dark Mode</mat-label>
      <mat-select   [(ngModel)]="selectedTheme" (selectionChange)="themeHandler($event.value)" >
        <mat-option value="light">
          Light Mode <span class="material-symbols-outlined">
            </span>
        </mat-option>
        <mat-option value="dark">
          Dark Mode
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Theme color</mat-label>
      <mat-select  [(ngModel)]="selectedColor" (selectionChange)="themeColorHandler($event.value)">
        <mat-option value="purple">
          purple-pink
        </mat-option>
        <mat-option value="lime">
          lime-gray
        </mat-option>
      </mat-select>
    </mat-form-field>

    <hr>
    <h5>Perfernces</h5>

    <mat-form-field appearance="fill">
      <mat-label>Download File Format</mat-label>
      <mat-select
      [(ngModel)]="qrCodeElmentType"
       (selectionChange)="changeTypeHandler($event.value)" >
        <mat-option value="img">
         PNG
        </mat-option>
        <mat-option value="svg">
          SVG
        </mat-option>
      </mat-select>
    </mat-form-field>

  <br>


  <mat-divider></mat-divider>
    <h5>Width</h5>
    <mat-slider
    [(ngModel)]="qrCodeWidth"
  thumbLabel
  tickInterval="1000"
  step="1"
  min="256"
  max="400"
  aria-label="units"></mat-slider>

  <br>

  <button mat-flat-button (click)="drawer.toggle()" >cancel</button> &nbsp;&nbsp;
  <button mat-flat-button color="accent" (click)="saveSettingHandler()">save</button>


  </mat-drawer>



<mat-toolbar color="primary" id="toolbar-header">
  <mat-toolbar-row>
  <a mat-button href="#" aria-label="Example icon-button with menu icon">
    <mat-icon>qr_code_2</mat-icon>
    angularx-qrcode
  </a>

  <span class="toolbar-header-spacer"></span>
  <a mat-button href="https://github.com/Atefnouri/angular-qr-generator" aria-label="Example icon-button with heart icon">
    <mat-icon>code</mat-icon>
    Github
  </a>

  <mat-icon *ngIf="darkMode" aria-hidden="false" aria-label="Example home icon" fontIcon="dark_mode"></mat-icon>
  <mat-icon *ngIf="!darkMode" aria-hidden="false" aria-label="Example home icon" fontIcon="light_mode"></mat-icon>

  <a mat-button href="#" (click)="drawer.toggle()"  aria-label="Example icon-button with heart icon">
    <mat-icon>settings</mat-icon>
  </a>



</mat-toolbar-row>


<mat-toolbar-row >
  <h1> {{'Angular qr code gen' | uppercase}} </h1>
</mat-toolbar-row>

<div class="footer" [style.background-color]="getColor()" #footer>
  Atef Nouri | 2022
  </div>

</mat-toolbar>



<div class="main" style="text-align:center ;">


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Generate</mat-card-title>
      <mat-card-subtitle>{{ 'scan it!' | uppercase }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>

      <div class="uperform">

        <div class="right-side">
          <form  #userForm="ngForm"  (ngSubmit)="sendForm()"  class="example-form">
            <mat-form-field class="example-full-width darkMode" appearance="fill">
              <mat-label>Type your text here</mat-label>
              <input
              name="usertext"
              #userText="ngModel"
              required
              (keyup)="parsText();"
              [(ngModel)]="qrForm.qrText"
              matInput placeholder="qr data " >
            </mat-form-field>
            <p *ngIf="userText.errors && userText.touched && userText.dirty " >
              <small> your test in not valid  </small>
            </p>

            <!-- <button class="darkMode" type="submit" color="accent" [disabled]="userForm.invalid" mat-raised-button>Generate</button> -->

            </form>
        </div>


        <div class="left-side">

          <button  mat-flat-button color="accent">
            <mat-icon>upload_file</mat-icon>
            Load your Logo</button>

        </div>

      </div>






      <div class="leftSide">

        <qrcode
        [qrdata]="TextToConvert"
        [width]="qrCodeWidth"
        (qrCodeURL)="onChangeURL($event)"
        [errorCorrectionLevel]="'M'"
        [elementType]="qrCodeElmentType">
        </qrcode>

      </div>



    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        <mat-icon>share</mat-icon>
        Share
    </button>
      <a mat-raised-button color="primary"
      [href]="qrCodeDownloadLink"
       download="qrcode"
       >
       <mat-icon>file_download</mat-icon>
       Download
      </a>
    </mat-card-actions>
  </mat-card>





</div>



















<div class="main">



    <br>

    <!-- <mat-chip-list aria-label="Fish selection">
      <mat-chip color="accent" selected
      [disabled]="!phoneChecker">
      <mat-icon>call</mat-icon> &nbsp;
      Phone
    </mat-chip>
      <mat-chip  color="accent" selected
       [disabled]="!linkChecker">
       <mat-icon>link</mat-icon> &nbsp;
       Link</mat-chip>

       <mat-chip  color="accent" selected
       [disabled]="!emailChecker">
       <mat-icon>email </mat-icon> &nbsp;
     email </mat-chip>

    </mat-chip-list> -->








</div>


</mat-drawer-container>



